$dark-gray:  #383838;
$gray:  #868686;
$light-gray:  #EDEDED;
$white: #FFFFFF; 
$black: #212121;
$light-black: #333333;
/*spin color*/
$sp-blue: #95DAF0;
$sp-green: #ADDEC2;
$sp-purple: #D3A9E3;
$sp-yellow: #F2DC9A;
