$wheel-size: 540px;
$wheel-slice-spacing: 40px;
$wheel-border-size: 4px;
$wheel-color: white;
$neutral-color: white;
$PI: 3.14159265358979;
$item-num: 6;
$item-index: 0;
$selected-item: 0;
$num-turn: 5;
$spinning-duration: 4s;
$reset-duration: 0.25s;
$wheel-font: "THSarabun"